#### 1. Hello World ( N-2557 )

Hello World!를 출력하시오.

In [1]:
print("Hello World!")

Hello World!

#### 2. We love kriii ( N-10718 )

ACM-ICPC 인터넷 예선, Regional, 그리고 World Finals까지 이미 2회씩 진출해버린 kriii는 미련을 버리지 못하고 왠지 모르게 올해에도 파주 World Finals 준비 캠프에 참여했다.

대회를 뜰 줄 모르는 지박령 kriii를 위해서 격려의 문구를 출력해주자.

In [2]:
print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

#### 3. 고양이 ( N-10171 )

아래 예제와 같이 고양이를 출력하시오.

In [3]:
print("\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

#### 4. 개 ( N-10172 )

아래 예제와 같이 개를 출력하시오.

In [4]:
print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

#### 5. A+B ( N-1000 )

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

- 입력
  - 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [5]:
A, B = input().split()
A, B = int(A), int(B)

print(A+B)

1 2
3

In [6]:
A, B = map(int, input().split())

print(A+B)

1 2
3

#### 6. A-B ( N-1001 )

두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

- 입력
  - 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [7]:
A, B = map(int ,input().split())

print(A-B)

3 2
1

#### 7. A×B ( N-10998 )

두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.

- 입력
  - 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [8]:
A, B = map(int, input().split())

print(A*B)

3 4
12

#### 8. A/B ( N-1008 )

두 정수 A와 B를 입력받은 다음,A/B를 출력하는 프로그램을 작성하시오.

- 입력
  - 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [9]:
A, B = map(int, input().split())

print(A/B)

1 3
0.3333333333333333

#### 9. 사칙연산 ( N-10869 )

두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A\*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

- 입력
  - 두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)

In [10]:
A, B = map(int, input().split())

print(A+B)
print(A-B)
print(A*B)
print(A//B)
print(A%B)

7 3
10
4
21
2
1

#### 10. ??! ( N-10926 )

준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.

- 입력
  - 첫째 줄에 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어진다. 아이디는 알파벳 소문자로만 이루어져 있으며, 길이는 50자를 넘지 않는다.

In [11]:
ID = input()

print(ID+"??!")

joonas
joonas??!

#### 11. 1998년생인 내가 태국에서는 2541년생?! ( N-18108 )

ICPC Bangkok Regional에 참가하기 위해 수완나품 국제공항에 막 도착한 팀 레드시프트 일행은 눈을 믿을 수 없었다. 공항의 대형 스크린에 올해가 2562년이라고 적혀 있던 것이었다.

불교 국가인 태국은 불별기원 (佛滅紀元), 즉 석가모니가 열반한 해를 기준으로 연도를 세는 불기를 사용한다. 반면, 우리나라는 서기 연도를 사용하고 있다. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.

- 입력
  - 서기 연도를 알아보고 싶은 불기 연도 y가 주어진다. (1000 ≤ y ≤ 3000)

In [12]:
years = int(input())

print(years-543)

2541
1998

#### 12. 나머지 ( N-10430 )

(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

- 입력
  - 첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)

In [13]:
A, B, C = map(int, input().split())

print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

5 8 4
1
1
0
0

#### 13. 곱셈 ( N-2588 )

(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
![](./p1-13.png)
(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

- 입력
  - 첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.

In [14]:
A = int(input())
B, C, D = map(int, input().strip())

print(A*D)
print(A*C)
print(A*B)
print(A*B*100 + A*C*10 + A*D)

472
385
2360
3776
1416
181720